﻿@using Microsoft.AspNetCore.Mvc.Rendering
@model cottage.podcast.web.Controllers.Post

@section Scripts
{
    <script src="~/lib/azurestoragejs/bundle/azure-storage.blob.js"></script>
    <script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>

}


@{
    ViewBag.Title = "Ny post";
    Layout = "_Layout";
}

<h2>Skapa bloggpost</h2>

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, true))
{
    <h3>Titel</h3>
    @Html.EditorFor(m => m.Title)
    <br/>
    <h3>Kroppstext</h3>
    @Html.TextAreaFor(m => m.Body, 40, 80, new {id = "stackeditarea"})
    <br/>
    <h3>Publiceringsdatum</h3>
    @Html.EditorFor(m => m.PublishAt)

    <input type="submit" title="Spara" value="Spara"/>
}

<script type="module" language="JavaScript">

    const el = document.querySelector('#stackeditarea');
    const stackedit = new Stackedit();
    let changeCounter = 0;
    // Open the iframe
    stackedit.openFile({
        name: 'Test', // with an optional filename
        content: {
            text: el.value // and the Markdown content.
        }
    });

    // Listen to StackEdit events and apply the changes to the textarea.
    stackedit.on('fileChange', (file) => {
        changeCounter++;
        if (changeCounter > 10) {
            changeCounter = 0;
            el.value = file.content.text;
        }
    });
    </script>