﻿@using cottage.podcast.web.Controllers
@model IEnumerable<cottage.podcast.web.Controllers.Post>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="h2">Admin</h2>

<a asp-action="Create" asp-controller="Admin" class="btn">Ny bloggpost</a>
<a asp-action="UploadEpisode" asp-controller="Admin" class="btn">Nytt avsnitt</a>

@foreach (var post in @Model)
{
    <h3 class="h3">@post.Title</h3>
    <p class="text-body">@post.Body</p>

    @if (post.IsEpisode)
    {
        <a href="@post.BlobRef" class="btn-link">Ladda ner avsnittet</a>
    }
}
