﻿@model cottage.podcast.web.Controllers.PodcastEpisodeDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section Scripts
{
    <script src="~/lib/azurestoragejs/bundle/azure-storage.blob.js"></script>
    <script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>

}

<script type="text/javascript" language="javascript">

    var blobUri = 'https://cottagepodcastwebstorage.blob.core.windows.net';

    function getBlobService() {

        
        var sasToken = document.getElementById('sastoken').value;
        var blobService = AzureStorage.Blob.createBlobServiceWithSas(blobUri, sasToken);
        return blobService;
    }


    //function displayProcess(process) {
    //    document.getElementById('progress').style.width = process + '%';
    //    document.getElementById('progress').innerHTML = process + '%';
    //}

    function uploadBlobByStream(checkMD5) {
        var files = document.getElementById('fileinput').files;
        if (!files.length) {
            alert('Please select a file!');
            return;
        }
        var file = files[0];

        var blobService = getBlobService();
        if (!blobService)
            return;

        var btn = document.getElementById('upload-button');
        btn.disabled = true;
        btn.innerHTML = 'Uploading';

        // Make a smaller block size when uploading small blobs
        var blockSize = file.size > 1024 * 1024 * 32 ? 1024 * 1024 * 4 : 1024 * 512;
        var options = {
            storeBlobContentMD5 : checkMD5,
            blockSize : blockSize
        };
        blobService.singleBlobPutThresholdInBytes = blockSize;

        var finishedOrError = false;
        var speedSummary = blobService.createBlockBlobFromBrowserFile('media', file.name, file, options, function(error, result, response) {
            finishedOrError = true;
            btn.disabled = false;
            btn.innerHTML = 'UploadBlob';
            if (error) {
                alert('Upload failed, open browser console for more detailed info.');
                console.log(error);
                //displayProcess(0);
            } else {
                //displayProcess(100);
                setTimeout(function() { // Prevent alert from stopping UI progress update
                    alert('Upload successfully!');
                }, 1000);

                document.getElementById('BlobRef').value = blobUri + '/media/' + file.name;
                document.getElementById('create-episode').disabled = false;
            }
        });

        return false;
    }
</script>

<h2 class="h2">Ny episod</h2>

<form asp-controller="Admin" asp-action="UploadEpisode" asp-antiforgery="true" method="post">

    <h3>Titel</h3>
    <input asp-for="Title" class="form-text">
    <h3>Kroppstext</h3>
    <textarea asp-for="Body" id="stackeditarea"></textarea>
    <h3>Publicera vid detta datum</h3>
    <input asp-for="PublishAt" type="date"/>
    <input asp-for="BlobRef" type="hidden"/>

    <button class="btn btn-primary" id="create-episode" disabled>Skapa avsnitt</button>

</form>
<br/><br/>
<form enctype="multipart/form-data" method="post" action="">
    <input id="sastoken" type="hidden" value="@ViewBag.SasToken"/>
    <input id="fileinput" type="file" class="form-control-file"/><br/>
    <button class="btn btn-secondary" onClick="return uploadBlobByStream(false)" id="upload-button">Ladda upp mp3</button>
</form>

<script type="module" language="JavaScript">

    const el = document.querySelector('#stackeditarea');
    const stackedit = new Stackedit();
    let changeCounter = 0;
    // Open the iframe
    stackedit.openFile({
        name: 'Test', // with an optional filename
        content: {
            text: el.value // and the Markdown content.
        }
    });

    // Listen to StackEdit events and apply the changes to the textarea.
    stackedit.on('fileChange', (file) => {
        changeCounter++;
        if (changeCounter > 10) {
            changeCounter = 0;
            el.value = file.content.text;
        }
    });
    </script>