﻿@using cottage.podcast.web.Controllers
@model IEnumerable<cottage.podcast.web.Controllers.Post>

@{
    ViewData["Title"] = "Kid VHS - Videovåldets profet";
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var post in @Model.Where(p => !p.IsEpisode))
        {
            <div class="post-preview">
                <h2 class="post-title">
                    @post.Title
                </h2>
                <div>
                    @Html.Raw(post.Body)
                </div>
            </div>
            <hr>
        }

    </div>

</div>