﻿@using cottage.podcast.web.Controllers
@model IEnumerable<cottage.podcast.web.Controllers.Post>

@{
    ViewData["Title"] = "Tommie the Brain - in Space";
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var post in @Model)
        {
            <div class="post-preview">
                <h2 class="post-title">
                    @post.Title
                </h2>
                <div>
                    @Html.Raw(post.Body)
                    <audio src="@post.BlobRef" controls>Your web browser does not support the audio tag</audio><br/>
                    <a href="@post.BlobRef">Ladda ner avsnitt</a>
                </div>
            </div>
            <hr>
        }

    </div>

</div>